<form class="small-form" [formGroup]="veterinarioForm" (ngSubmit)="editarVeterinario(veterinarioForm)">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required formControlName="nombre">
    </div>

    <div class="form-group">
        <label for="raza">Cedula</label>
        <input type="text" class="form-control" id="cedula" name="cedula" required formControlName="cedula">

        <div *ngIf="veterinarioForm.get('cedula')?.hasError('pattern')">
            <p class="error-message">Solo se admiten numeros</p>
        </div>
    </div>
    
    <div class="form-group">
        <label for="edad">Contrasenia</label>
        <input type="text" class="form-control" id="contrasenia" name="contrasenia" required formControlName="contrasenia">
    </div>

    <div class="form-group">
        <label for="especialidad">Especialidad</label>
        <input type="text" class="form-control" id="especialidad" name="especialidad" required formControlName="especialidad">

        <div *ngIf="veterinarioForm.get('especialidad')?.hasError('pattern')">
            <p class="error-message">Solo se admiten letras</p>
        </div>
    </div>

    <div class="form-group">
        <label for="estado">Estado</label>
        <select type="text" class="form-control" id="estado" name="estado" formControlName="estado">
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
      </div>
    
    <div class="form-group">
        <label for="foto">Imagen</label>
        <input type="text" class="form-control" id="foto" name="foto" required formControlName="foto">

        <div *ngIf="veterinarioForm.get('foto')?.hasError('invalidUrl')">
            <p class="error-message">URL invalido. Ingrese un URL valido</p>
        </div>
        </div>
    
        <button class="btn btn-primary" type="submit" [disabled]="!veterinarioForm.valid">Guardar</button>
</form>



