
<div class="mostrarMascota">
    <ng-container *ngIf="mascota">
<h1 class="tituloInfo">Informacion de la mascota</h1>
    <div class="top-section">
        <img class="pet-image" [src]="mascota.imagen" alt="Imagen de la mascota">
        <div class="pet-details">
            <div class="detail">
                <p class="label"><strong>Nombre:</strong></p>
                <p class="value">{{mascota.nombre}}</p>
            </div>
            <div class="detail">
                <p class="label"><strong>Raza:</strong></p>
                <p class="value">{{mascota.raza}}</p>
            </div>
            <div class="detail">
                <p class="label"><strong>Edad:</strong></p>
                <p class="value">{{mascota.edad}}</p>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="detail">
            <p class="label"><strong>Enfermedad:</strong></p>
            <p class="value">{{mascota.enfermedad}}</p>
        </div>
        <div class="detail">
            <p class="label"><strong>Estado:</strong></p>
            <p class="value">{{mascota.estado}}</p>
        </div>
    </div>
    <button [routerLink]="['/cliente/find', mascota.id]">Ver Datos Cliente</button>
    <button [routerLink]="['/tratamiento/find', mascota.id]">Ver Historial</button>
</ng-container>
</div>

