<div class="container">
    <div class="row">
        <a [routerLink]="['/mascota/add']">
          <button class="btn btn-primary" >
            Agregar Mascota
          </button>
        </a>
        <table id="mascotas-table" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Raza</th>
              <th scope="col">Edad</th>
              <th scope="col">Enfermedad</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mascota of mascotasList">
              <ng-container *ngIf="mascota.estado === 'Activo'">
                <td>{{mascota.nombre}}</td>
                <td>{{mascota.raza}}</td>
                <td>{{mascota.edad}}</td>
                <td>{{mascota.enfermedad}}</td>
                <td>
                  <a [routerLink]="['/mascota/find', mascota.id]">
                    <button class="btn btn-primary">
                      <i class="bi bi-eye"></i>
                    </button>
                  </a>
                  <button class="btn btn-primary" (click)="eliminarMascota(mascota)">
                    <i class="bi bi-trash"></i>
                  </button>
                  <a [routerLink]="['/mascota/edit', mascota.id]">
                    <button class="btn btn-primary">
                      <i class="bi bi-pencil"></i>
                    </button>
                  </a>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  