<body>
  <div class="mostrarTratamiento">
    <ng-container *ngIf="listaTratamientos.length > 0">
      <h1 class="tituloInfo">Historial de tratamientos de {{ nombreMascota }}</h1>
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Medicamento</th>
            <th>Nombre de Veterinario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tratamientoItem of listaTratamientos">
            <td>{{ tratamientoItem.fecha }}</td>
            <td>{{ tratamientoItem.droga?.nombre }}</td>   
            <td>{{ tratamientoItem.veterinario?.nombre }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="listaTratamientos.length === 0">
      <p>No hay tratamientos disponibles.</p>
    </ng-container>
  </div>
</body>
