
<div class="mostrarTratamiento">
    <ng-container *ngIf="tratamiento">
<h1 class="tituloInfo">Informacion del tratamiento</h1>
        <div class="top-section">
        <div class= "tratamiento-details">
            <div class="detail">
                <p class="label"><strong>Fecha:</strong></p>
                <p class="value">{{tratamiento.fecha}}</p>
            </div>
            <div class="detail">
                <p class="label"><strong>Medicamento:</strong></p>
                <p class="value">{{tratamiento.droga?.nombre}}</p>
            </div>
            <div class="detail">
                <p class="label"><strong>Nombre de Mascota:</strong></p>
                <p class="value">{{tratamiento.mascota?.nombre}}</p>
            </div>
            <div class="detail">
                <p class="label"><strong>Nombre de Veterinario:</strong></p>
                <p class="value">{{tratamiento.veterinario?.nombre}}</p>
            </div>
        </div>   
        </div>
    </ng-container>
</div>